

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>About Us</h1>
<p>This website was created by a team of history teachers who are passionate about helping students learn history in a fun and engaging way.</p>
<p>We believe that everyone can learn history, and we are committed to providing the resources that students need to succeed.</p>
<p>We hope that you find this website helpful and that it helps you to learn more about history.</p>
</body>
</html>


